﻿@model CTDWeb.Models.DeviceManagementModel

@{
    ViewBag.Title = "DeviceManagement";
}

<script type="text/javascript" src="~/Scripts/speech.1.0.0.js"></script>

<div class="row">
    <h4 class="col-md-6 col-sm-6 col-xs-6 bold" style="text-align: right">
        Device name
    </h4>
    <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
        @Model.MAC
    </h4>
</div>

<div class="row">
    <h4 class="col-md-6 col-sm-6 col-xs-6 bold" style="text-align: right">
        Board type
    </h4>
    @if (Model.BoardType == string.Empty)
            {
        <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
            Not available. <a target="_blank" href="http://www.st.com/content/st_com/en/products/embedded-software/mcus-embedded-software/stm32-embedded-software/stm32-ode-function-pack-sw/fp-cld-azure1.html">Update device Firmware</a>
        </h4>
    }
    else
    {
        <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
            @Model.BoardType
        </h4>
    }
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Home", new { id = @Model.MAC })" style="font-size:medium">Telemetry</a>
    </div>
</div>

<br />

<div class="row">

    <!-- Twin -->
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div id="twin" class="col-md-12">
            </div>
        </div>


        <br />

        <div class="row">
            <div class="col-md-12">
                <button id="update-twin-btn" class="btn btn-primary" onclick="twinUpdate()">Update device twin</button>
            </div>
        </div>

    </div>

    <div class="col-md-4 col-sm-4">


        <!-- Cloud 2 Device commands -->

        @if (Model.C2DMessageList.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>Control device</h3>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    @Html.DropDownList("DirectCommandsId", new SelectList(Model.C2DMessageList), new { @id = "DirectCommandsId", @class = "form-control" })
                    <div id="paramsCommand" class="">
                        <div id="params">

                        </div>

                    </div>

                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <button value="Send" class="btn btn-primary" onclick="sendMessageToDevice(getC2DMessage(), getParams())">Send message to device</button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>Commands are not availables</h4>
                </div>
            </div>
        }

        <br />
        <br />
        <br />



        <!-- Direct methods -->
        @if (Model.DirectMethods.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>Call Method on Device</h3>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    @Html.DropDownList("DirectMethodsId", new SelectList(Model.DirectMethods), new { @id = "directMethodListId", @class = "form-control" })
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#directMethodModal">Call Method</button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>Methods are not availables</h4>
                </div>
            </div>
        }


        <!-- Speech to text -->
        <!-- WARNING: DEPRECATED JAVASCRIPT SDK https://git.io/vQB3X SEE: https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript -->
        @*<div class="register-message-container">
                <button value="Send" id="mic" class="btn btn-circle microphone" onclick="startSpeechToText(getLuisConfig(), getKey())">Register</button>
                <div class="register-message-text-container">
                    <div id="speech_api_output">Click to register a message for device</div>
                    <div id="timer-show"></div>
                </div>
            </div>*@


        <br />
        <br />
        <br />

        <!-- Firmware update -->
        @if (Model.HasFirmwareUpdate == true)
        {

            <div class="row">
                <div class="col-md-12">
                    <h3>Firmware update</h3>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    @Html.DropDownList("FirmwareListId", new SelectList(Model.FirmwareList), new { @id = "firmwareListId", @class = "form-control" })
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#fwUpdateModal">Force firmware update</button>
                </div>
            </div>

            <br />
            <br />
            <br />
            <form action="/Home/upload" method="post" enctype="multipart/form-data">

                <label for="file">Filename:</label>
                <input type="file" name="file" id="id_file" />
                <input type="hidden" name="id" id="id" value="@Model.MAC" />
                <br />
                <input type="submit" id="submit_file" class="btn btn-primary" disabled />

            </form>
            <br />
            <br />
        }
        else
        {

            <div class="row">
                <div class="col-md-12">
                    <h4>Firmware updates are not availables</h4>
                </div>
            </div>
        }

        
    </div>
</div>




<!-- Twin update result -->
<div id="twinUpdateResult" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Twin update result</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>




<!-- Firmware update modal -->
<div id="fwUpdateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Firmware update</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to update the firmware of board @Model.MAC?</p>
            </div>
            <div class="modal-footer">
                <button id="updateFirmware" type="button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Firmware update modal result -->
<div id="fwUpdateModalResult" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Firmware update</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button id ="okUpdate" type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>




<!-- Direct method modal -->
<div id="directMethodModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Call Method on Device</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button id="invokeDirectMethod" type="button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Direct method modal result -->
<div id="directMethodModalResult" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Call Method on Device</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>


<script>
    var msg_upload = null

    '@(TempData["upload"])'.match(/success|error/)
    ? msg_upload = '@(TempData["upload"])' : msg_upload = null;

    if(msg_upload != null) alert(msg_upload);

    var luisConfig;
    $("#updateFirmware").click(function () {
        var fwId = jQuery("#firmwareListId option:selected").val();

        $.ajax({
            url: '/Home/FirmwareUpdate',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ input: { firmwareId: fwId, boardType: '@Model.BoardType', mac: '@Model.MAC' } }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {

                var fwUpdateModal = $("#fwUpdateModal");
                fwUpdateModal.modal('hide');

                var fwUpdateModalResult = $("#fwUpdateModalResult");
                fwUpdateModalResult.find('.modal-body').text(data);
                fwUpdateModalResult.modal('show');
                //reload page
            },
            error: function (xhr) {

                var fwUpdateModal = $("#fwUpdateModal");
                fwUpdateModal.modal('hide');

                var fwUpdateModalResult = $("#fwUpdateModalResult");
                fwUpdateModalResult.find('.modal-body').text(xhr.error);
                fwUpdateModalResult.modal('show');
            }
        })
    });



    $("#invokeDirectMethod").click(function (method) {
        $.ajax({
            url: '/Home/InvokeDirectMethod',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ DirectMethod: getDirectMethod(), mac: '@Model.MAC' }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {

                var directMethodModal = $("#directMethodModal");
                directMethodModal.modal('hide');

                var directMethodModalResult = $("#directMethodModalResult");
                directMethodModalResult.find('.modal-body').text(data);
                directMethodModalResult.modal('show');
            },
            error: function (xhr) {

                var directMethodModal = $("#directMethodModal");
                directMethodModal.modal('hide');

                var directMethodModalResult = $("#directMethodModalResult");
                directMethodModalResult.find('.modal-body').text(xhr.error);
                directMethodModalResult.modal('show');
            }
        });
    });


    // Set direct method modal body based on the direct method choosen
    $('#directMethodModal').on('show.bs.modal', function (e) {
        var directMethod = getDirectMethod();
        $('#directMethodModal').find('p').html('<span>Are you sure you want to invoke the direct method ' + '<span style="font-weight: bold">' + directMethod + '</span>?</span>');
    })

    $("#DirectCommandsId").ready(showInputBox)

    $("#DirectCommandsId").change(showInputBox);


    function resetAllParams() {
        $('#params').html('');

    }

    function showInputBox() {

        var selected = $("#DirectCommandsId option:selected").text();
        var arrStr = selected.split(/(--[\w]*)/);

        resetAllParams();

        for (var i = 0; i < arrStr.length; i++) {

            if (arrStr[i].indexOf("--") !== -1) {
                res = arrStr[i].replace("--", "");
                if ( arrStr[i+1].indexOf('int') == 1 )
                    $("#params").append('<input type="number" id="' + "" + res + "" + '" class="form-control margin-btm-top-3" placeholder=' + res + ' />')
                else
                    $("#params").append('<input type="text" id="' + "" + res + "" + '" class="form-control margin-btm-top-3" placeholder=' + res + ' />')
            }
        }
    }


    function getParams() {
        var paramsJson = {};
        var selected = $("#DirectCommandsId option:selected").text();
        var params = $("#params").children();

        for (var i = 0; i < params.length; i++) 
            paramsJson[params[i].id] = params[i].type == "number" ? parseInt(params[i].value) : params[i].value;

        return JSON.stringify(paramsJson);

    }

    function getC2DMessage() {
        var msg = $("#DirectCommandsId option:selected").text();
        return msg.substr(0, msg.indexOf('--')) != '' ? msg.substr(0, msg.indexOf('--')) : msg ;
    }

    /******************
        * TWIN EDITOR *
        ******************/

    // json editor https://github.com/jdorn/json-editor

    // Set twin json editor default options
    JSONEditor.defaults.options.theme = 'bootstrap3';
    JSONEditor.defaults.options.object_layout = 'normal';
    JSONEditor.defaults.options.disable_edit_json = true;
    JSONEditor.defaults.editors.object.options.collapsed = true;

    var $twin = document.getElementById('twin');
    var jsoneditor = new JSONEditor($twin, {
        iconlib: "bootstrap3",
        schema: {
            "title": "Twin",
            "type": "object",
            "properties": {
                "deviceId": {
                    "type": "string",
                    "title": "Device Id",
                    "description": "MAC address of this device"
                },
                "tags": {
                    "type": "object",
                    "title": "Tags",
                    "properties": {
                        "boardType": {
                            "type": "string",
                            "title": "Board type"
                        },
                        "demo": {
                            "type": "boolean",
                            "format": "checkbox",
                            "title": "Is demo device"
                        }
                    }
                },
                "properties": {
                    "type": "object",
                    "title": "Properties",
                    "properties": {
                        "desired": {
                            "type": "object",
                            "title": "Desired",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "title": "Status"
                                },
                                "$metadata": {
                                    "type": "object",
                                    "options": {
                                        "hidden": true
                                    }
                                },
                                "$version": {
                                    "type": "number",
                                    "options": {
                                        "hidden": true
                                    }
                                }
                            }
                        },
                        "reported": {
                            "type": "object",
                            "title": "Reported",
                            "options": {
                                "disable_properties": true
                            },
                            "properties": {
                                "AzureFwVersion": {
                                    "type": "string",
                                    "title": "Azure Fw Version"
                                },
                                "AzureStatus": {
                                    "type": "string",
                                    "title": "Azure Status"
                                },
                                "TelemetryInterval": {
                                    "type": "number",
                                    "title": "Telemetry Interval"
                                },
                                "ActiveHWMode": {
                                    "type": "number",
                                    "title": "Active HW Mode"
                                },
                                "Motor1State": {
                                    "type": "number",
                                    "title": "Motor1State"
                                },
                                "Motor0State": {
                                    "type": "number",
                                    "title": "Motor0State"
                                },
                                "SupportedMethods": {
                                    "type": "object",
                                    "title": "Supported Methods",
                                    "options": {
                                        "disable_properties": true
                                    },
                                    "properties": {
                                        "Reboot": {
                                            "type": "string",
                                            "title": "Reboot"
                                        },
                                        "Quit": {
                                            "type": "string",
                                            "title": "Quit"
                                        },
                                        "FirmwareUpdate--FwPackageUri-string": {
                                            "type": "string",
                                            "title": "FirmwareUpdate--FwPackageUri-string"
                                        },
                                    }
                                },
                                "SupportedCommands": {
                                    "type": "object",
                                    "title": "Supported Commands",
                                    "options": {
                                        "disable_properties": true
                                    },
                                    "properties": {
                                        "Pause": {
                                            "type": "string",
                                            "title": "Pause"
                                        },
                                        "Play": {
                                            "type": "string",
                                            "title": "Play"
                                        },
                                        "LedOn": {
                                            "type": "string",
                                            "title": "LedOn"
                                        },
                                        "LedOff": {
                                            "type": "string",
                                            "title": "LedOff"
                                        },
                                        "LedBlink": {
                                            "type": "string",
                                            "title": "LedBlink"
                                        },
                                        "MoveMotor--MotorNum-int--Angle-int": {
                                            "type":"string",
                                            "title": "MoveMotor--MotorNum-int--Angle-int"
                                        },
                                        "ResetMotor--MotorNum-int": {
                                            "type": "string",
                                            "title": "ResetMotor--MotorNum-int"
                                        },
                                        "ComplexMove--ComplexProgram-string": {
                                            "type": "string",
                                            "title": "ComplexMove--ComplexProgram-string"
                                        },
                                        "Complex3--1-string--2-string--3-string": {
                                            "type": "string",
                                            "title": "Complex3--1-string--2-string--3-string"
                                        },
                                        "Complex3--par1-string--par2-string--par3-string": {
                                            "type": "string",
                                            "title": "Complex3--par1-string--par2-string--par3-string"
                                        },
                                        "GoHomeMotor--MotorNum-int": {
                                            "type": "string",
                                            "title": "GoHomeMotor--MotorNum-int"
                                        },
                                        "RunMotor--MotorNum-int--Speed-int": {
                                            "type": "string",
                                            "title": "RunMotor--MotorNum-int--Speed-int"
                                        }
                                    }
                                },
                                "SupportedDesired": {
                                    "type": "object",
                                    "title": "Supported Desired",
                                    "options": {
                                        "disable_properties": true
                                    },
                                    "properties": {
                                        "Test1": {
                                            "type": "string",
                                            "title": "Test1"
                                        },
                                        "Test2": {
                                            "type": "string",
                                            "title": "Test2"
                                        },
                                    }
                                },
                                "$metadata": {
                                    "type": "object",
                                    "options": {
                                        "hidden": true
                                    }
                                },
                                "$version": {
                                    "type": "number",
                                    "options": {
                                        "hidden": true
                                    }
                                }

                            }
                        }
                    }
                },
                "etag": {
                    "options": {
                        "hidden": true
                    }
                }
            }
        }
    });

    // Disable pieces of twin that cannot be edited
    jsoneditor.getEditor('root.tags.boardType').disable();
    jsoneditor.getEditor('root.properties.desired.status').disable();
    jsoneditor.getEditor('root.deviceId').disable();
    jsoneditor.getEditor('root.properties.reported').disable();

    var desiredAdded = [];

    function getTwin() {
        console.log("getTwin");
        $.getJSON('/Home/GetTwin', { mac: '@Model.MAC' },
        function (data) {

            //var supportedDesired = data.properties.reported.SupportedDesired;
            //var desired = data.properties.desired;
            //for (var key in supportedDesired) {

            //    if (!desired[key]) {
            //        desired[key] = supportedDesired[key];
            //        desiredAdded.push(key);
            //    }
            //}

            jsoneditor.setValue(data);

            //for (var key in desiredAdded) {
            //    for (var i = 0; i < $(".property-selector .checkbox").length; i++) {
            //        if ($('.property-selector .checkbox')[i].childNodes[0].childNodes[0] == desiredAdded[key]) {
            //            $('.property-selector .checkbox')[i].childNodes[0].childNodes[1].checked = false;
            //        }
            //    }
            //}



        })
    }

    getTwin();

    // Refresh twin every minute
    setInterval(getTwin, 30000);


    twinUpdate = function () {
        $.ajax({
            url: '/Home/TwinUpdate',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ twin: JSON.stringify(jsoneditor.getValue()), mac: '@Model.MAC' }),
            async: true,
            processData: false,
            cache: false,
            success: function (result) {
                jsoneditor.setValue(JSON.parse(result.data));

                var twinUpdateResult = $("#twinUpdateResult");
                twinUpdateResult.find('.modal-body').text("Twin updated successfully");
                twinUpdateResult.find('.modal-header').removeClass('alert-danger');
                twinUpdateResult.find('.modal-header').addClass('alert-success');
                twinUpdateResult.modal('show');
            },
            error: function (result) {
                var twinUpdateResult = $("#twinUpdateResult");
                twinUpdateResult.find('.modal-body').text(JSON.parse(result.responseJSON.error).Message);
                twinUpdateResult.find('.modal-header').removeClass('alert-success');
                twinUpdateResult.find('.modal-header').addClass('alert-danger');
                twinUpdateResult.modal('show');
            }
        });

    }
    function getDirectMethod() {
        return $("#directMethodListId option:selected").text();
    }


    /******************
    * SPEECH TO TEXT *
    ******************/

    function getKey() {
        return '@Model.BING_SPEECH_API_KEY';
    }

    function getLuisConfig() {
        var appid = '@Model.LUIS_APP_ID';
        var subid = '@Model.LUIS_SUBSCRIPTION_ID';

        if (appid && subid && appid.length > 0 && subid.length > 0) {
            return { appid: appid, subid: subid };
        }

        return null;
    }


    $(document).ready(
    function () {
        $('#id_file').change(
            function () {
                if ($(this).val()) {
                    $('#submit_file').attr('disabled', false);
                }
            }
            );
    });

    $("#okUpdate").click(function () {
        window.location.reload();

    })

</script>