﻿@model CTDWeb.Models.TelemetryModel
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/CTDUtils.js"></script>
<script type="text/javascript" src="~/Scripts/charts/charts.js"></script>

<div class="body-charts" style="background:#FFFFFF;">
    <div class="row" id="macHidden">
        <div class="row">
            <h4 class="col-md-6 col-sm-6 col-xs-6 bold" style="text-align: right">
                Device name
            </h4>
            <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
                @Model.MAC
            </h4>
        </div>

        <div class="row">
            <h4 class="col-md-6 col-sm-6 col-xs-6 bold" style="text-align: right">
                Board type
            </h4>
            @if (Model.BoardType == string.Empty)
            {
                <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
                    Not available. <a target="_blank" href="http://www.st.com/content/st_com/en/products/embedded-software/mcus-embedded-software/stm32-embedded-software/stm32-ode-function-pack-sw/fp-cld-azure1.html">Update device Firmware</a>
                </h4>
            }
            else
            {
                <h4 class="col-md-6 col-sm-6 col-xs-6" style="text-align: left">
                    @Model.BoardType
                </h4>
            }
        </div>

        <br />
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="@Url.Action("DeviceManagement", "Home", new { id = @Model.MAC })" style="font-size:medium">Device management</a>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Device status</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="device-status-bullets">
                    <li class="device-connection">
                        <span class="bullet disconnected"></span>
                        <span class="bullet-text">Disconnected</span>
                    </li>
                    <li class="device-status">
                        <span class="bullet enabled"></span>
                        <span class="bullet-text">Enabled</span>
                    </li>
                </ul>
            </div>
        </div>

        <br />

        <div class="row" id="chartsDiv">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Live sensor data from device</h3>
            </div>
            @Html.Partial("_Charts")
        </div>

    </div>

</div>

<script>
    var savePositionURL = '@Model.API_URL';

    //console.log(savePositionURL);
    $(document).ready(function () {
        if ('@Model.MAC' != "") {
            macAddress = '@Model.MAC';
            registerSignalRClient(macAddress, $("#chartsDiv"));
            
            $('#macHidden').fadeIn(1000);
        }

        deviceStatus = '@Model.Status';

        if (deviceStatus == "") {
            deviceStatus = 'unknown'
        }

        changeDeviceStatus(deviceStatus);
    });

</script>
